<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222099741408-jh2evpv6g5g72pba3socie15ec7o3j0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222099741408-jh2evpv6g5g72pba3socie15ec7o3j0p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>222099741408-nom7gljjb5hnk54gov739eq92slfvg1o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-2psbWB2xdCyiTuSyjapss6Mc3j5N3ZA</string>
	<key>GCM_SENDER_ID</key>
	<string>222099741408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cxxc.app</string>
	<key>PROJECT_ID</key>
	<string>cxxc-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cxxc-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222099741408:ios:71ac531bc62caff86d4e85</string>
</dict>
</plist>